.star svg {
  margin-right: 5px;
  color: #E2E2E2;
}

.filled svg {
  color: var(--primary);
}

.editable {
  cursor: pointer;
}

.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -22px;
  left: 0;
  color: var(--red);
}

.error svg {
  stroke: var(--red);
}