:root {
	--black: #3B434E;
	--white: #FFFFFF;
	--gray: #A4A4A4;
	--gray-light: #EBEBEB;
	--gray-dark: #62666c;
	--primary: #4c36a2;
	--primary-hover: #6344DF;
	--red: #FC836D;
	--red-light: #fea291;
	--green: #007b48;
	--green-light: #C8F8E4;
	--font-family: 'Noto Sans', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	color: var(--black);
	background-color: #E5E5E5;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.visuallyHidden {
	position: absolute;
	width: 0px;
	height: 0;
	overflow: hidden;
}